<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.country">
        <div class="state-section">
          <img class="example-option-img" aria-hidden [src]="state.flag" height="15">
          <span class="country">{{state.country}}</span>
          <small class="country-code">{{state.countryCode}}</small>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<router-outlet></router-outlet>
